@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: iransans;
  src: url("../public/assets/fonts/IRANSansWeb(FaNum)_Medium.ttf");
}

* {
  font-family: iransans;
  box-sizing: border-box !important;
  margin: 0;
  padding: 0;
}
